PORT=16010
INITIAL_ROOT_USERNAME=admin
INITIAL_ROOT_PASSWORD=replace-with-a-strong-admin-password
# TZ=Asia/Shanghai
# DEBUG=false
# INITIAL_ROOT_DISPLAY_NAME=Root User
# INITIAL_ROOT_AUTHENTICATOR_SECRET=
